<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="plainPattern">%level: %msg%n%xEx{full}</Property>
        <Property name="pattern">%highlight{[%d{HH:mm:ss} %level]: [%logger] %msg%n%xEx{full}}</Property>
    </Properties>
    <Appenders>
        <Console name="PlainLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="${plainPattern}"/>
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="PlainLoggerErr" target="SYSTEM_ERR">
            <PatternLayout pattern="${plainPattern}"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Async name="AsyncPlain">
            <AppenderRef ref="PlainLogger"/>
            <AppenderRef ref="PlainLoggerErr"/>
        </Async>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="ConsoleErr" target="SYSTEM_ERR">
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleErr"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="PlainLogger" additivity="false">
            <AppenderRef ref="AsyncPlain"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="AsyncConsole"/>
        </Root>
    </Loggers>
</Configuration>